<!-- TODO: Header? -->
<div class="main-content">
    <h1>Active Polls</h1>
    <!-- Added logic for a message if no polls are available -->
    <% if (polls.length === 0) { %>
        <p>There are currently no polls available, please check back later.</p>
    <% } else { %>
    <ul id="polls">
        <% polls.forEach((poll) => { %>
            <li class="poll-container" id="<%= poll.id %>">
                <h2><%= poll.question %></h2>
                <ul class="poll-options">
                    <% for (let { answer, votes } of poll.options) { %>
                        <li id="<%= poll.id %>_<%= answer %>">
                            <strong><%= answer %>:</strong> <%= votes %> votes
                        </li>
                    <% } %>
                </ul>
                <form class="poll-form button-container" method="post" action="/vote">
                    <% for (let { answer } of poll.options) { %>
                        <button class="action-button vote-button" type="submit" value="<%= answer %>" name="selectedOption">
                            Vote for <%= answer %>
                        </button>
                    <% } %>
                    <input type="hidden" value="<%= poll.id %>" name="pollId" />
                </form>
            </li>
        <% }) %>
    </ul>
    <% } %>
</div>

<a href="/createPoll">
    <button>Create a new poll</button>
</a>
<script src="/frontend.js" type="application/javascript"></script>
</body>
</html>

